<!DOCTYPE html>
<html>

{% include header.html %}

<body>


  <script>
    document.body.className = document.body.className
      ? document.body.className + " js-enabled"
      : "js-enabled";
  </script>

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-quarter">
          {% include sidenav.html %}
        </div>
        <div class="nhsuk-grid-column-three-quarters">
          <div class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">
              <span role="text">
                <span class="nhsuk-u-visually-hidden">Important: </span>
                Disclaimer
              </span>
            </h3>
            <p>This is not the official site but a set of signposts to our recent work. For more information about NHS England please visit our official <a style="color: #CF3587"
                href="https://www.england.nhs.uk/">website</a></p>
          </div>

          {{ content }}
        </div>
      </div>
    </main>
  </div>

  {% include footer.html %}
</body>

<script src="https://cdn.jsdelivr.net/gh/MarketingPipeline/Markdown-Tag/markdown-tag-GitHub.js"></script>

</html>